* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }
.btn{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png") , url("../images/header_bg.png") , #FFF8F3;
    background-repeat: no-repeat;
    background-position: top 35px left 23px, top 316px left  767px; /*it used for background image position */
    /* background-size: 136px 774px, 1036px 518px;  it used for background image size */
}  
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0px auto;
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 51px;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}