* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }
.btn{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0px auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.text-center{
    text-align: center;
    margin-top: 50px;
}
.container{
    /* width: 71%; */
    max-width: 1140px;
    margin: 0px auto;
}

/* main styles */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png") , url("../images/header_bg.png") , #FFF8F3;
    background-repeat: no-repeat;
    background-position: top 35px left 23px, top 316px left  767px; /*it used for background image position */
    /* background-size: 136px 774px, 1036px 518px;  it used for background image size */
}  
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 51px;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
nav .menu a:hover{
    background-color: lightgray;
}

#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}
#about, #skills, #resume{
    padding-top: 130px;
}
#about .about-container{
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .info h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;

}

.skill-box{
    display: flex;
    gap: 24px;
}

.skill-box .skill-card{
    max-width: 267px;
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0px 6px 50px 0px #0000003f;
}
.skill-box .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-box .skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.skill-box .skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    max-width: 201px;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0px;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    margin: 30px 0px;
}
.resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;

}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0px;
}
footer .footer-container{
    display: flex;
    gap: 117px;

}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}
.footer-container .icons a{
    margin-right: 24px;
}
.footer-container form input[type="text"], .footer-container form textarea{
    width: 461px;
    padding: 18px 349px 18px 30px;
    border: none;
    margin-bottom: 24px;
    border-radius: 5px;
    color: #757575;

}